<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brewery.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @brewery.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @brewery.email %>
</p>

<p>
  <strong>Lbs available:</strong>
  <%= @brewery.lbs_available %>
</p>

<p>
  <strong>Pickup times:</strong>
  <%= @brewery.pickup_times %>
</p>

<p>
  <strong>Currently available:</strong>
  <%= @brewery.currently_available %>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
